<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/source-sans-pro.css">
    <link rel="stylesheet" href="/css/yla-dialog.css">
    <link rel="stylesheet" href="/css/yla-tooltip.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/vue.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/js-cookie.js"></script>
    <script src="/js/component/yla-tooltip.js"></script>
    <script src="/js/component/yla-dialog.js"></script>
    <script src="/js/page/base.js"></script>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/res/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/res/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/res/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/res/favicon-16x16.png" sizes="16x16" />
    <title>Shiori - Bookmarks Manager</title>
</head>

<body>
    <h1>Tags</h1>
</body>

</html>
